<section class="section">
    <app-nav-bar></app-nav-bar>
    <div class="container mt-4">
        <h4 class="h4 mb-4">Assets Available</h4>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Model No.</th>
                        <th>Category</th>
                        <th>Product Code</th>
                        <th>Condition</th>
                        <th>Location</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle">
                        <td><img class="img-thumbnail" style="height:50px" src="./assets/Chair.jpg" /></td>
                        <td><a href="">chair</a></td>
                        <td>chair01</td>
                        <td>furniture</td>
                        <td>EMP1</td>
                        <td>Good</td>
                        <td>Ahmedabad</td>
                        <td>
                            <div class="img-circle"><img src="./assets/check.png" alt="editok" width="16"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>