<app-nav-bar></app-nav-bar>
<div class="container">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h6 mb-0 text-gray-800" style="margin-top:20px !important;">Assets Summary</h1>
    </div>

    <div class="row" style="color: white ">
        <!-- Total Assets -->
        <div class="col-xl-3 col-lg-6 mb-4 graph-cursor">
            <div class="card border-left-primary shadow h-100 py-2" style=" background: #4a26fd; border-radius: 5px; cursor: pointer;"  routerLink="/products" routerLinkActive="active" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                style="color: white !important;">
                                Total Assets
                            </div>
                            <div class="h5 mb-0 font-weight-bold" style="color: white !important;">{{TotalAssets}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Assets Available -->
        <div class="col-xl-3 col-md-6 mb-4 graph-cursor">
            <div class="card border-left-success shadow h-100 py-2" style="background: #41c300; border-radius: 5px; cursor: pointer;"  routerLink="/assetsAvailable" routerLinkActive="active">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                style="color: white !important;">
                                Assets Available
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{AvailableAssets}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Assets Assigned -->
        <div class="col-xl-3 col-md-6 mb-4 graph-cursor">
            <div class="card border-left-primary shadow h-100 py-2" style="background: #ba00e5; border-radius: 5px; cursor: pointer;"  routerLink="/assetsAssigned" routerLinkActive="active">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                style="color: white !important;">
                                Assets Asssigned
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{AssignedAssets}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Assets Not available -->
        <div class="col-xl-3 col-md-6 mb-4 graph-cursor">
            <div class="card border-left-warning shadow h-100 py-2" style="background: #ff651e; border-radius: 5px; cursor: pointer;"  routerLink="/assetsOutofstock" routerLinkActive="active">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                style="color: white !important;">
                                Assets out of stock
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{OutOfStock}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-graph></app-graph>
<router-outlet></router-outlet>