<section class="section">
    <app-nav-bar></app-nav-bar>
    <div class="container mt-4">
        <h4 class="h4 mb-4">Product/Assets Assigned</h4>
        
        <label id="alertid" class="bg-success text-white"></label>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Assigned To</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Assigned On</th>
                        <th>Assigned By</th>
                        <th>Recovered By</th>
                        <th>Recovered From</th>
                        <th>Recovered On</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr class="align-middle">
                            <td>VERMORA</td>
                            <td>Nilay Patel</td>
                            <td>Table</td>
                            <td>Assigned</td>
                            <td>08-09-2022</td>
                            <td>shubham</td>
                            <td>shubham</td>
                            <td>Nilay  Patel</td>
                            <td>08-09-2022</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
</section>