<app-nav-bar></app-nav-bar>
<div class="container">

    <div class="mt-4">
        <div class="d-flex justify-content-between">
            <span class="d-flex pull-left">
                <h4>Manage Modules</h4>
            </span>
            <div class="d-flex pull-right">
                <a class="btn btn-primary md-big" style="background-color: rgb(45, 45, 154); color: white !important"
                    routerLink="/addInward">Add</a>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between" style="margin-top: 30px;">
        <div class="col-md-10">
            <div class="table-responsive d-flex justify-content-between" style="margin-top: 35px;">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Navigate URL</th>
                            <th>Parent Form</th>
                            <th>Display Order</th>
                            <th>Display Menu</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Home</td>
                            <td>HOME</td>
                            <td>~/Home/index</td>
                            <td>4</td>
                            <td>10</td>
                            <td><img src="./assets/check.png" alt="edit" width="16"></td>
                            <td><img src="./assets/check.png" alt="edit" width="16"></td>                            
                            <td>
                                <div class="action-icons">
                                    <a href=""><img src="./assets/edit.png" alt="edit" width="16"></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>