<section class="section">
    <app-nav-bar></app-nav-bar>
    <div class="container mt-4">
        <h4 class="h4 mb-4">Assets Out of Stock</h4>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Category Order</th>
                        <th>StockQty</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="align-middle">
                        <td>Notebook</td>
                        <td>10</td>
                        <td>0</td>
                        <td><div class="img-circle"><img src="./assets/check.png" alt="editok" width="16"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>